<section class="wrapper">
  <div class="container-wrapper">
      <div class="brand-center">
          <h1 style="font-size: 50px; font-weight: 700; letter-spacing: 1mm;">Bienvenido</h1>
          <h1>¡Para nosotros es un placer ofrecerte los mejores libros!</h1>
      </div>
  </div>
</section>

<section class="container-content">
  <ul class="cards">
    <li class="card_">
        <span class="card__code">🔖<small>Vista cliente</small></span>
        <img src="https://5115875.fs1.hubspotusercontent-na1.net/hub/5115875/hubfs/Blog/Blog_Art%C3%ADculos/Blog_Art%C3%ADculos_2021/Blog_Art%C3%ADculos_2021_Abril/Blog_Art%C3%ADculos_2021_Abril_Art65_RAC/Blog_Art%C3%ADculos_2021_Abril_Art65_RAC_Nuevo/Respuesta-al-cliente.jpg?width=950&name=Respuesta-al-cliente.jpg" class="card__image" alt="" />
        <div class="card__header">                  
            <div class="card__header-text">
                  <h3 class="card__title">📚 Elige la vista del cliente</h3>
                  <p class="card_body"><small>Opción para ver un demo detallado de la plataforma</small></p>
                  <div style="text-align: center;">
                      <button class="btn btn-info" (click)="viewClient()">
                          Demo
                      </button>
                  </div>
            </div>
        </div>  
    </li> 
    <li class="card_">
      <span class="card__code">🔖<small>Vista admin</small></span>
      <img src="https://www.smart-pa.com/media/pegdpywx/admin-assistant-not-secretary.jpg?anchor=center&mode=crop&width=900&rnd=132634913604630000" class="card__image" alt="" />
      <div class="card__header">                  
          <div class="card__header-text">
                <h3 class="card__title">📚 Elige la vista del administrador</h3>
                <p class="card_body"><small>Opción para ver un demo detallado de la plataforma</small></p>
                <div style="text-align: center;">
                    <button class="btn btn-danger" (click)="viewAdmin()">
                        Demo
                    </button>
                </div>
          </div>
      </div>  
  </li>  
  </ul>
</section>