<section class="container-content">
  <h3 style="
      color: rgb(0, 66, 13); 
      text-align: center; 
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1mm;">Registro de Libro</h3>

  <br>

  <form [formGroup]="form" (ngSubmit)="add()">
    <div class="form-group">
        <div class="row">
          <div class="col">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        🔖
                    </span>
                </div>
                <input type="text" class="form-control" formControlName="titulo" placeholder="Titulo">
            </div>
          </div>
          <div class="col">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        🔖
                    </span>
                </div>
                <input type="text" class="form-control" formControlName="sinopsis" placeholder="Sinopsis">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        🔖
                    </span>
                </div>
                <input type="text" class="form-control" formControlName="paginas" placeholder="Paginas">
            </div>
          </div>
          <div class="col">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        🛫 <i class="fas fa-caret-down"></i>
                    </span>
                </div>
                <Select class="form-control custom-select" formControlName="editor" ngDefaultControl>
                    <option value="">Seleccione Editorial</option>
                    <option [value]="c.idEditorial" *ngFor="let c of dropEditor">{{c.nombre}}</option>
                </Select>
            </div>
          </div>
        </div>

        <hr>

        <button type="submit" class="btn btn-success m-2">Crear libro</button>
        <button type="button" class="btn btn-primary" [routerLink]="['/admin/dashboard']">Cancelar</button>
    </div>
  </form>
</section>